Repository usmanazam747/devops-testing-portfolio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:user-service, test:unit-user-service

Path conditions:
  build:user-service: any of: services/user-service/**/*, tests/**/*, .gitlab-ci.yml
  test:unit-user-service: any of: services/user-service/**/*, tests/unit/**/*, .gitlab-ci.yml

Add: Quick reference guide for common commands
  QUICK_REFERENCE.md
Due: none

Refactor: Replace Jenkins with GitHub Actions + GitLab CI
  .env.example
  .github/workflows/ci-cd.yml
  Jenkinsfile
  README.md
  docs/DEPLOY_RENDER.md
  docs/ENVIRONMENT_CONFIG.md
  services/user-service/app.py
  services/user-service/requirements.txt
Due: build:user-service, test:unit-user-service

Add: Changelog documenting GitHub Actions migration
  CHANGELOG.md
Due: none

Fix: Update upload-artifact from v3 to v4 (deprecated)
  .github/workflows/ci-cd.yml
Due: none

Fix: Correct PYTHONPATH and add workflow permissions for test publishing
  .github/workflows/ci-cd.yml
Due: none

Fix: Remove deprecated @before_first_request (Flask 3.0 compatibility)
  services/user-service/app.py
Due: build:user-service, test:unit-user-service

Fix: Disable incomplete test stages (integration, E2E, deployment)
  .github/workflows/ci-cd.yml
Due: none

Fix: Rebuild CI/CD workflow with clean UTF-8 encoding
  .github/workflows/ci-cd.yml
Due: none

feat: Enhance CI/CD workflow with comprehensive pipeline stages
  .github/workflows/ci-cd.yml
Due: none

feat: Add comprehensive integration tests and fix security scan settings
  .github/workflows/ci-cd.yml
  tests/integration/test_user_service_integration.py
Due: build:user-service

fix: Configure Bandit to only fail on HIGH severity issues
  .bandit
  .github/workflows/ci-cd.yml
Due: none

fix: Update integration tests to use correct API endpoints
  .github/workflows/ci-cd.yml
  tests/integration/test_user_service_integration.py
Due: build:user-service

fix: Update integration tests to match actual API response structure
  tests/integration/test_user_service_integration.py
Due: build:user-service

fix: Adapt integration tests to actual API behavior
  tests/integration/test_user_service_integration.py
Due: build:user-service

docs: Add comprehensive environment variables setup
  .env.example
  docs/ENVIRONMENT_SETUP.md
Due: none

feat: Add database cleanup for integration tests
  services/user-service/app.py
  tests/integration/test_user_service_integration.py
Due: build:user-service, test:unit-user-service

fix: Resolve syntax errors in integration tests
  tests/integration/test_user_service_integration.py
Due: build:user-service

fix: Remove duplicate assertions causing syntax error
  tests/integration/test_user_service_integration.py
Due: build:user-service

fix: Restore working integration tests with cleanup fixture
  tests/integration/test_user_service_integration.py
Due: build:user-service

feat: Add Phase 2 enhancements - Product Service & Performance Tests
  services/product-service/Dockerfile
  services/product-service/pom.xml
  services/product-service/src/main/java/com/ecommerce/product/ProductServiceApplication.java
  services/product-service/src/main/java/com/ecommerce/product/controller/ProductController.java
  services/product-service/src/main/java/com/ecommerce/product/model/Product.java
  services/product-service/src/main/java/com/ecommerce/product/repository/ProductRepository.java
  services/product-service/src/main/java/com/ecommerce/product/service/ProductService.java
  services/product-service/src/main/resources/application.properties
  services/product-service/src/test/java/com/ecommerce/product/ProductServiceApplicationTests.java
  services/product-service/src/test/java/com/ecommerce/product/controller/ProductControllerTest.java
  services/user-service/requirements.txt
  tests/performance/locustfile.py
  tests/performance/requirements.txt
Due: build:user-service, test:unit-user-service

feat: Add enhanced CI/CD pipeline with Java and performance testing
  .github/workflows/ci-cd-enhanced.yml
  README.md
Due: none

docs: Add Phase 2 completion summary
  docs/PHASE2_COMPLETION.md
Due: none

fix: Configure Java tests to use H2 in-memory database
  .github/workflows/ci-cd-enhanced.yml
  services/product-service/src/main/resources/application-test.properties
  services/product-service/src/test/java/com/ecommerce/product/ProductServiceApplicationTests.java
Due: none

Update contact information in README
  README.md
Due: none

docs: Add interactive API documentation page
  docs/API_DOCUMENTATION.html
Due: none

fix: Strengthen performance test condition and remove duplicate workflow
  .github/workflows/ci-cd-enhanced.yml
  .github/workflows/ci-cd.yml
  PR_DESCRIPTION.md
Due: none

feat: Enable performance tests on all branches for portfolio demonstration
  .github/workflows/ci-cd-enhanced.yml
Due: none

fix: Run only UserServiceUser in CI performance tests
  .github/workflows/ci-cd-enhanced.yml
Due: none

fix: Allow minor failures in performance tests
  .github/workflows/ci-cd-enhanced.yml
Due: none

docs: Add status badges and Phase 2 changelog
  CHANGELOG.md
  README.md
Due: none

Feature/phase2 enhancements (#2)
  .github/workflows/ci-cd-enhanced.yml
  .github/workflows/ci-cd.yml
  CHANGELOG.md
  PR_DESCRIPTION.md
  README.md
Due: none
